header
  h1 The Hensley <br> Hoffman Wedding
  h4 Come &amp; help us celebrate!
    
  nav
    ul.nav-items.hidden
      li.button: a(href="#rsvp") RSVP
      li.button: a(href="#details") Details
      li.button: a(href="#map") Map
      li.button: a(href="#registry") Registry
      li.button: a(href="#gallery") Photo Gallery
      //- li.hamburger: span: span: span
    
    a.hamburger
      span
      span
      span
              
