.registry#registry
  h1 Registry
  h3 Here are some stores we are registered at!
  
  .container
    .row
      .reg-item: a(href="#")
        .item-logo#amazon
        p.item-text amazon
        //- img(src="assets/img/amazon.png", alt="")
      .reg-item: a(href="#")
        .item-logo#bestbuy
        p.item-text bestbuy
        //- img(src="assets/img/amazon.png", alt="")
      
    .row
      .reg-item: a(href="#")
        .item-logo#target
        p.item-text target
        //- img(src="assets/img/amazon.png", alt="")  
      .reg-item: a(href="#")
        .item-logo#home-depot
        p.item-text the home depot
        //- img(src="assets/img/amazon.png", alt="")
