.registry#registry
  h1 Registry
  h3 Here are some stores we are registered at!

  .container
    .row
      .reg-item: a(href="https://www.amazon.com/wedding/registry/2ORQOQ81P5TZ3")
        .item-logo#amazon
        p.item-text amazon

      .reg-item: a(href="https://www-secure.target.com/gift-registry/giftgiver?registryId=qDYiow43tlsfgQ7eAxTc7w&lnk=copiedLink")
        .item-logo#target
        p.item-text target

      .reg-item: a(href="https://www.menards.com/main/registrydetail.html?registryId=64443342&lastName=Hensley")
        .item-logo#menards
        p.item-text Menards
