.registry#registry
  h1 Registry
  h3 Here are some stores we are registered at!
  
  .container
    .row
      .reg-item
        .amazon
        p amazon
        //- img(src="assets/img/amazon.png", alt="")
      .reg-item
        .amazon
        p bestbuy
        //- img(src="assets/img/amazon.png", alt="")
      
    .row
      .reg-item
        .amazon
        p etsy
        //- img(src="assets/img/amazon.png", alt="")  
      .reg-item
        .amazon
        p sears
        //- img(src="assets/img/amazon.png", alt="")
