---

---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hensley Hoffman Wedding</title>
  <meta name="viewport" content="width=device-width">

  <!-- Local jquery -->
  <!-- <script src="/assets/js/jquery-2.2.0.min.js" charset="utf-8"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- reCAPTCHA -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  {% include home.html %}
  {% include rsvp.html %}
  {% include map.html %}

  <script src="/assets/js/main.js"></script>
</body>
</html>
