.registry
  padding: 1px
  height: 100vh
  background: $wedding
  text-align: center

  .container
    background-color: white
    max-width: 760px
    margin: auto

    .reg-item
      display: inline-block
      margin: 10px 5px
      height: 200px
      max-width: 25%
      width: 100%

    .item-logo
      background:
        position: center
        size: contain
        repeat: no-repeat
      height: 100%

    .item-text
      color: $wedding


    #amazon
      background-image: url(/assets/img/amazon-black.png)

    #bestbuy
      background-image: url(/assets/img/bestbuy-black-w.png)

    #target
      background-image: url(/assets/img/target-black.png)

    #home-depot
      background-image: url(/assets/img/thehomedepot-black.png)
