body
  background-color: white


header
  background-image: url(/assets/img/wedding-hero.jpg)
  height: 100vh
  background-position: center
  background-size: cover
  z-index: 1

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  padding:
    right: 20px
    left:  20px

  h1
    margin: 0 auto 0
    font-size:  10em
    line-height: 1
    word-wrap: break-word

  h4
    font-weight: 300
    font-size: 2.5em

  h1, h4
    text-align: center
    color: $silver
    text-shadow: 1px 1px 5px black

  nav

    position: fixed
    bottom: 0px
    right: 60px

    .button
      background-color: black
      border-color: white

      &:first-child
        background-color: $wedding

        a
          color: black

    li
      display: inline-block
      margin: 0 10px

    a
      font:
        size: 18px
        weight: bold

      &:link
        color: $silver

      &:visited
        color: $silver

  @media (max-width: 740px)
    h1
      font-size: 7em

  @media (max-width: 640px)
    h1
      font-size: 5em


.hamburger
  background: black
  border: 1px solid
  border-color: white

  width: 35px
  height: 35px
  border-radius: 3px
  box-sizing: border-box
  padding: 10px 6.5px
  cursor: pointer

  margin: 15.5px 10px

  position: fixed
  bottom: 0px
  right: 5px

  &.toggled
    span
      &:first-child
        transform: translateY(6px) rotate(45deg)

      &:nth-child(2)
        opacity: 0

      &:last-child
        transform: translateY(-6px) rotate(-45deg)

  span
    display: block
    background: white
    width: 20px
    height: 2px
    border-radius: 3px
    transform-origin: center
    transition: 0.3s ease

    &:nth-child(2)
      margin: 4px 0

.g-recaptcha
  margin:
    bottom: 20px

.nav-items

  &.show
    position: relative
    right: 0px
    transition: 0.3s ease

  &.hidden
    position: relative
    right: -900px
    transition: 0.3s ease
